# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/Toronto
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where data and configuration will be stored.
CONFIG_ROOT=/volume1/docker/config
MUSIC_root=/volume1/music
MEDIA_ROOT=/volume1/media/library
DOWNLOADS_ROOT=/volume1/media/downloads
# NordVPN
OPENVPN_USER=
OPENVPN_PASSWORD=
